:root {
    --rust: #B56357;
    --mint:  #B4DBC0;
    --slate: #EAE3EA;
    --seafoam: #A7B3A5;
}

body, html {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 5fr;
    background-color: var(--slate);
   
}

.header {
    grid-column: 1 / span 2;;
    background-color: var(--mint);
    box-shadow: 0px 0px 7px 1px rgb(68, 68, 68);
}


.input_box {
    
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.book_cards {
    
    grid-column: 2;
    grid-row: 2;
    display: flex;
    
   

}

.cards {
    height: 160px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--rust);
    border: solid grey 1px;
    border-radius: 6px;
}

#add_new {
    height: 300px;
    width: 400px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid var(--rust) 1px;
    border-radius: 10px;
    background-color: var(--rust);
    position: absolute;
    left: 40%;
    top: 30%;
}

#add_new form {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    
}

input[type="text"] {
    height: 80%;
    width: 90%;
}

#remove {

}

.title_field {

}

.auth_field {

}

.pages_field {

}