:root {
    
    --sky: #77C9D4;
    --marine: #57BC90;;
    --forest: #015249;;
    --grey: #A5A5AF;
    
}

@font-face {
    font-family: 'abel';
    src: url(/home/solphilos/repos/Admin-dashboard/fonts/Abel-Regular.ttf);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'abel';
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(235deg, var(--marine), var(--forest));
   
}

.header {
    grid-column: 1 / span 2;
    background-color: var(--dark-grey);
    
    display: flex;
    justify-content: flex-start;
}

h1 {
    color: rgb(235, 235, 235);
    width: fit-content;
    font-size: 45px;
    position: relative;
    left: 100px;
}

#new {
    height: 60px;
    width: 60px;
    position: fixed;
    left: 95%;
    top: 91%;
}


.input_box {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}



.book_cards {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    
}

.cards {
    height: 35%;
    width: 14%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--marine);
    border-radius: 6px;
}

#add_new {
    height: 60%;
    width: 30%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid var(--forest) 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px var(--placeholder);
    background-color: var(--grey);
    position: absolute;
    left: 35%;
    top: 20%;
}

#add_new p {
    font-size: 24px;
    font-weight: bold;
}

#close {
    position: relative;
    bottom: 92%;
    left: 45%;
}

#add_new form {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    
}

input[type="text"] {
    height: 50px;
    width: 400px;
    border-radius: 6px;
    font-size: 24px;
    border-style: none;
}

button[id="submit"] {
    height: 15%;
    width: 30%;
    background-color: var(--forest);
    color: white;
    font-size: 20px;
    border-radius: 6px;
}